@import 'tailwindcss';
@import '@nuxt/ui';

.btnPrimary {
  background: var(--button-primary-background);
  color: var(--button-primary-color);
  border-radius: var(--button-radius);
  border: 1px solid var(--button-primary-border-color);
  padding: var(--button-padding);
}

.btnPrimary:hover {
  background: var(--button-primary-hover-background);
  color: var(--button-primary-hover-color);
}

.h1 {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  padding-top: var(--h1-padding-top);
  padding-bottom: var(--h1-padding-bottom);
}

.h2 {
  color: var(--h2-color);
  font-size: var(--h2-font-size);
  padding-top: var(--h2-padding-top);
  padding-bottom: var(--h2-padding-bottom);
}

.p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  padding-top: var(--p-padding-top);
  padding-bottom: var(--p-padding-bottom);
}