@import 'tailwindcss';
@import '@nuxt/ui';

body {
  background: var(--body-background);
  color: var(--body-color);
  box-shadow: var(--panel-shadow);
  border: var(--border);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

button {
  padding: var(--button-padding);
  border-color: var(--button-border-color);
  border-radius: var(--button-radius);
  background: var(--button-background);
  color: var(--button-color);
  cursor: pointer;
}

button:hover {
  background: var(--button-hover-background);
  color: var(--button-hover-color);
}

.btnPrimary {
  background: var(--button-primary-background);
  color: var(--button-primary-color);
}

.btnPrimary:hover {
  background: var(--button-primary-hover-background);
  color: var(--button-primary-hover-color);
}

.btnSecondary {
  background: var(--button-secondary-background);
  color: var(--button-secondary-color);
}

.btnSecondary:hover {
  background: var(--button-primary-hover-background);
  color: var(--button-secondary-hover-color);
}

h1 {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  padding-top: var(--h1-padding-top);
  padding-bottom: var(--h1-padding-bottom);
}

h2 {
  color: var(--h2-color);
  font-size: var(--h2-font-size);
  padding-top: var(--h2-padding-top);
  padding-bottom: var(--h2-padding-bottom);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  padding-top: var(--p-padding-top);
  padding-bottom: var(--p-padding-bottom);
}

table {
  background: var(--table-background);
  color: var(--table-color);
  border-width: var(--table-border-size);
  border-radius: var(--border-radius);
  border-color: var(--table-border-color);
  border-style: var(--table-border-style);
}

thead {
  background: var(--table-head-background);
  color: var(--table-head-color);
}

tfoot {
  background: var(--table-footer-background);
  color: var(--table-footer-color);
}

tr > th {
  background: var(--table-head-background);
  color: var(--table-head-color);
}

.paging {
  background: var(--table-pagination-background);
  color: var(--table-pagination-color);
}

tr:nth-child(odd) {
  background: var(--table-row-odd-background);
  color: var(--table-row-odd-color);
}

tr:nth-child(even) {
  background: var(--table-row-even-background);
  color: var(--table-row-even-color);
}

input {
  background: var(--input-background);
  color: var(--input-color);
  border-style: var(--input-border-style);
  border: border;
}

input:focus {
  border-color: var(--input-focus-border-color);
}

select {
  background: var(--input-background);
  color: var(--input-color);
  border-style: var(--input-border-style);
}

textarea {
  background: var(--input-background);
  color: var(--input-color);
  border-style: var(--input-border-style);
}
